
<table class="tx-accommodation" >
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.name" />
		</td>
		<td>
		{accommodation.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.teaser" />
		</td>
		<td>
		{accommodation.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.description" />
		</td>
		<td>
		{accommodation.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.occupancy" />
		</td>
		<td>
		{accommodation.occupancy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.price" />
		</td>
		<td>
		{accommodation.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.unit" />
		</td>
		<td>
		{accommodation.unit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.price_information" />
		</td>
		<td>
		{accommodation.priceInformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.main_image" />
		</td>
		<td>
				<f:image src="{accommodation.mainImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accommodation_domain_model_accommodation.images" />
		</td>
		<td>
				<f:image src="{accommodation.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>