<f:layout name="Default"/>

<f:section name="main">
    <div>
        <f:flashMessages renderMode="div" />
        <f:form action="create"
                enctype="multipart/form-data"
                name="newReservation"
                object="{newReservation}"
                class="form-horizontal">
            <f:render partial="Reservation/FormFields" arguments="{_all}"/>
            <div class="form-group">
                <f:render partial="Captcha" />
                <f:form.submit value="{f:translate(key: 'button.submit', default: 'Submit')}"
                               class="btn btn-default pull-right"/>
            </div>
        </f:form>
    </div>
</f:section>