
<label for="name">
	<f:translate key="tx_accommodation_domain_model_reservation.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="surname">
	<f:translate key="tx_accommodation_domain_model_reservation.surname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="surname" /><br />
<label for="email">
	<f:translate key="tx_accommodation_domain_model_reservation.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_accommodation_domain_model_reservation.phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="numberOfPeople">
	<f:translate key="tx_accommodation_domain_model_reservation.number_of_people" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="numberOfPeople" /><br />
<label for="message">
	<f:translate key="tx_accommodation_domain_model_reservation.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="privacyConfirmation">
	<f:translate key="tx_accommodation_domain_model_reservation.privacy_confirmation" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="privacyConfirmation" value="1" /><br />